body,ul,h1{
    margin: 0;
    padding: 0;
    background: #eee;
}
li {
    list-style: none;
}
header div ul {
    margin: 3em;
    display: flex;
    justify-content: space-around;
}
header div ul li {
    height: 104px;
    width: 104px;
    background: #fff;
}
.shadow--1 {
    box-shadow: 0 0.09375em 0.14063em rgba(0, 0, 0, 0.12), 0 0.09375em 0.09375em rgba(0, 0, 0, 0.24);
    z-index: 1;
}

.shadow--2 {
    box-shadow: 0 0.28125em 0.28125em rgba(0, 0, 0, 0.16), 0 0.28125em 0.28125em rgba(0, 0, 0, 0.23);
    z-index: 2;
}

.shadow--3 {
    box-shadow: 0 0.9375em 0.9375em rgba(0, 0, 0, 0.19), 0 0.5625em 0.28125em rgba(0, 0, 0, 0.23);
    z-index: 3;
}

.shadow--4 {
    box-shadow: 0 1.3125em 1.3125em rgba(0, 0, 0, 0.25), 0 0.9375em 0.46875em rgba(0, 0, 0, 0.22);
    z-index: 4;
}

.shadow--5 {
    box-shadow: 0 1.78125em 1.78125em rgba(0, 0, 0, 0.2), 0 1.40625em 0.5625em rgba(0, 0, 0, 0.22);
    z-index: 5;
}
li:hover {
    box-shadow: none;
}